<!DOCTYPE HTML >
<html>
	<head>
		<meta charset="utf-8">
		<title>shy2850.tk</title>
        <style>
			html, body{
				padding:0;
				list-style: decimal;
			}
			h2{
				text-align: center;
			}
        </style>
	</head>
	<body>
		
		<hr>

		<div id="hd">
			<% echo(response);
			 echo('你好啊') %>
		</div>
		<div id="bd">
            <h2><a href="demo/login/login.html">一个表单提交的登录页面</a></h2>
            <div id="form0">
            	<form action="/upload?uploadUrl=static" enctype="multipart/form-data" method="post">
            		<input type="file" name="upload" multiple="multiple" onchange="this.parentNode.submit();"> <input type="submit" value="Upload">
            	</form>
            </div>
		<% for(var i = 0; i < 9; i++) {%>
		    <h2><% if(i%2==0){ %>Welcome <%} else{%>YOU<%} %></h2>
		<% } %>
		</div>
		<div id="ft">
		</div>
		
		<script type="text/html">
			$include[nodeLib/common/module.js]
		</script>
		

	</body>
</html>
