@charset "utf-8";
body {
  padding: 120px 20px 60px;
  background: #fff;
}
.fixed-line {
  position: fixed;
  _position: absolute;
  line-height: 40px;
  overflow: visible;
  top: 30px;
  width: 100%;
  left: 0;
  padding-left: 20px;
  z-index: 1;
}
.fixed-line #clock {
  position: absolute;
  right: 30px;
  top: 0px;
}
#list-container li {
  line-height: 20px;
  height: 20px;
  margin: 4px 0;
  list-style: none;
  padding-left: 20px;
  background: url(../img/fileicon/unknown.gif) no-repeat left center;
}
#ajaxFrame {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.dropdown {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.dropdown-menu {
  line-height: 26px;
}
.see-to-source,
.see-to-source:hover {
  border: 1px solid #42a8e1;
  border-radius: 11px;
  padding: 1px 2px;
  text-decoration: none;
  margin: 1px .2em;
}
<%
    return function(){
        var fs = require("fs");
        fs.readdir(request.util.conf.root+"/static/img/fileicon/",function(error,files){ 
            if(error){
                response.end(  __p );
            }else{
                var expires = new Date(); 
                expires.setTime( expires.getTime() + 1000*60*60*24 );

                response.writeHead(200, {"Content-Type": "text/css",Expires:expires});
                
                files.map(function(file){
                  file = file.replace('.gif','');
                  __p += "#list-container  ."+file+"\{background: url(../img/fileicon/"+file+".gif) no-repeat left center;\}\n"
                });

                response.end(  __p );
            }
        });
    };
%>