@charset "utf-8";
body {
  padding: 80px 20px 60px;
  background: #fff;
}
div, p, ul, li, a{
  margin: 0;
  padding: 0;
}
a, a:hover{
  text-decoration: none !important;
}
.fixed-line {
  position: fixed;
  _position: absolute;
  line-height: 40px;
  overflow: visible;
  top: 30px;
  width: 100%;
  left: 0;
  padding-left: 20px;
  z-index: 1;
}
.fixed-line #clock {
  position: absolute;
  right: 30px;
  top: 0px;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}



#list-container li {
  line-height: 20px;
  height: 20px;
  margin: 4px 0;
  list-style: none;
  padding-left: 20px;
  background: url(../img/fileicon/unknown.gif) no-repeat left center;
}
#ajaxFrame {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.see-to-source,
.see-to-source:hover {
  border: 1px solid #42a8e1;
  border-radius: 11px;
  padding: 1px 2px;
  text-decoration: none;
  margin: 1px .2em;
}
<%
    return function(){
        var fs = require("fs");
        fs.readdir(request.util.conf.root+"/static/img/fileicon/",function(error,files){ 
            if(error){
                response.end(  __p );
            }else{
                var expires = new Date(); 
                expires.setTime( expires.getTime() + 1000*60*60*24 );

                response.writeHead(200, {"Content-Type": "text/css",Expires:expires});
                
                files.map(function(file){
                  file = file.replace('.gif','');
                  __p += "#list-container  ."+file+"\{background: url(../img/fileicon/"+file+".gif) no-repeat left center;\}\n"
                });

                response.end(  __p );
            }
        });
    };
%>