@charset "utf-8";
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,input{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:none;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style-type: none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:''}
abbr,acronym{border:none;}
body {font-size:12px}
/*link*/
a{ cursor:pointer;}
a:link, a:visited {text-decoration:none;color: #333; cursor:pointer}
a:hover, a:active {text-decoration:none;color: #387aa9; cursor:pointer}

.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
label[for]{cursor: pointer;}
