html, body {height: 100%;width: 100%;margin: 0 auto;overflow: hidden;}
#bodybg {position: relative;top: 0;left: 0;width: 100%;height: 100%;zoom: 1; }
.loginbg {position: absolute;left: 0;right: 0;bottom: 0;margin: auto;width: 100%;height: 100%;z-index: -999;}
.weatherbg{ height:30px; line-height:30px; background:url(../images/loginbg10.png); }
.weather-bid{ display:inline-block; margin:0px 10px; }
.weather-bid-img{ vertical-align:middle;}
.weather{ position:absolute; top:0px; left:0px; height:30px; line-height:30px; position:absolute; padding-left:15px;font-size:12px; color:#FFF;}
.xuan-login{ position:relative;margin: 0 auto; width:980px;padding-top:80px;  }
.btn{ padding: 0; border: 0; display:block; float:left; width:92px; height:33px; text-indent: -9999em; cursor: pointer; }
.login-l{ float:left; width:326px; height:240px;}
.login-logo{width: 326px; height: 240px; position: relative; background: url("../images/login-logo.gif") no-repeat; }
.login-tips{height:30px; margin-top:10px;font-size:14px; color:#FFF; line-height:30px;}
.login-register{ margin-left:10px; color: #fff !important;}
.login-register:hover{ text-decoration:underline;}
.login-r{ float:right; margin-top:30px; width:376px; height:300px; background:url(../images/loginbg9.png);}
.login-rcon{ margin-top: -10px; margin-left: 14px;  width:348px; height:356px; padding-top:36px; background:url(../images/loginbg9.png);}
.login-rcon-h{ margin:0 auto 20px; width:264px; height:18px; background:url(../images/login-rcon1.png) no-repeat;}
.login-rcon-m{ position:relative; margin:10px 0px; height:34px; line-height:34px;clear: both; padding-left: 90px;}
.login-rcon-m .title{ display:inline-block; width:70px; height:32px; line-height:32px; text-align:right;  margin:0 0 0 -90px; font-size:14px; float: left;}
.login-rcon-m .detail{ width:208px; height:28px; border:#999 1px solid; line-height: 28px; padding:0;}
.login-rcon-m .tips{ display:inline-block; *display: inline;*zoom:1; height:32px; line-height:32px; margin-left:10px; padding-left: 20px; font-size:12px; color:#808080;}
.login-rcon-m .tips.err{ background: url("../images/register-bid1.png") left center no-repeat; color: red; }
.login-rcon-m .tips.ok{ background: url("../images/register-bid2.png") left center no-repeat; }
.login-rcon-m .account{ width:140px; padding-right:68px;}
.login-rcon-m .account-bid{ position:absolute;top: 7px;right: 60px;width:60px; height:18px; border-left:#b3b3b3 1px solid; padding-left:5px; font-size:12px; line-height:18px; background:url(../images/account.png) no-repeat 48px 7px;}
.login-rcon-m .identify-code{ width:80px;}
.login-rcon-m .identify-imgcon{ margin-left:10px;}
.login-rcon-m .identify-img{ vertical-align:middle;}
.login-rcon-m .identify-change{ margin-left:22px; text-decoration:underline;}
.login-rcon-m .auto-login{ float:left; width:90px;}
.login-rcon-m .auto-panel{ display: block; height: 34px; line-height: 34px; float: left;}
.login-rcon-m .auto-input{ margin-right: 4px; vertical-align: -2px;}
.login-rcon-m .find-password{ position: absolute; right: 50px; top: 0; }
.login-rcon-m .login-btn{ background:url(../images/login-btn.png) no-repeat; }
.login-rcon-m .passer{ float:left; margin-left:10px; color:#5384b7; font-size:12px; width: 140px;}
.cooperate{ height:70px;margin-top:30px;}
.cooperate-h{ margin:0 auto; height:26px; line-height:26px; text-align:center;}
.cooperate-bid{ margin-top:8px;}
.cooperate-bid ul{ width:200px; margin:0 auto;}
.cooperate-bid ul li{ float:left; margin-left:12px;}
.cooperate-bid ul li a{ display:block; width:32px; height:32px;}
.login-news{ clear:both; position: absolute;bottom: 44px;left: 50%;margin-left: -490px; width:980px; height:110px; background:url(../images/loginbg10.png);}
.login-news .news-show{ float:left; margin-top:12px; width:310px; height:80px; border-right:#a3b9c5 1px solid;}
.login-news .news-title{ padding:0px 10px; color:#fff; font-family:"微软雅黑"; font-size:20px; line-height:28px;}
.login-news .news-refresh{ padding-left:10px; margin-top:10px;}
.login-news .refresh{ float:left; display:block; width:14px; height:16px; background:url(../images/login-refresh.png) no-repeat;}
.login-news .publish-time{ float:left; display:block; height:16px; line-height:16px;  margin-left:10px; color:#FFF;}
/*注册*/
.xuan-register{ display:none;  position:absolute; top:0px; left:0px; width:980px; height:520px; background:url(../images/loginbg11.png); z-index:999;}
.register-head{ margin: 0 auto; width:864px; height:44px; padding-top:26px; border-bottom:#d4d4d4 1px solid;}
.register-h{ width:210px; height: 23px; background:url(../images/register-h.png) no-repeat;}
.register-con{ margin:0 auto; width:560px; height:310px; padding-top:60px; }
.register-confirm{ background:url(../images/register-confirm.png) no-repeat;}
.register-cancel{ margin-left: 10px; background:url(../images/register-cancel.png) no-repeat;}





